<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content=""/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">HotelCommerce</title>

<link rel="icon" type="image/png" sizes="16x16" href="/themefiles/assets/images/favicon.png">		
<link rel="stylesheet" type="text/css" href="/themefiles/dist/css/style.min.css" />
<link rel="stylesheet" type="text/css" href="/css/main.css" />
<!-- custom css, library -->
<th:block layout:fragment="styles"></th:block>
<!-- custom js, library which requires to be load in head -->
<th:block layout:fragment="head-scripts"></th:block>
</head>
<body>

<div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
</div>

<div id="main-wrapper">

<header class="topbar" th:replace="layouts/header :: header"></header>
<aside class="left-sidebar" th:replace="layouts/nav :: nav"></aside>

<div class="page-wrapper">

<div class="page-content container-fluid" layout:fragment="content">

</div>

<footer class="footer text-center">
     All Rights Reserved by Ample admin. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a>.
</footer>

</div>

</div>


<!-- Script -->

<script src="/themefiles/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="/themefiles/assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="/themefiles/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="/themefiles/dist/js/app.min.js"></script>
<script src="/themefiles/dist/js/app.init.horizontal-fullwidth.js"></script>
<script src="/themefiles/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="/themefiles/assets/extra-libs/sparkline/sparkline.js"></script>
<script src="/themefiles/dist/js/waves.js"></script>
<script src="/themefiles/dist/js/sidebarmenu.js"></script>
<script src="/themefiles/dist/js/custom.min.js"></script>

<!-- custom js, library which requires to be load in foot -->
<th:block layout:fragment="scripts"></th:block>


</body>

</html>