<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content=""/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">HotelCommerce</title>

<link rel="icon" type="image/png" sizes="16x16" href="/themefiles/assets/images/favicon.png">		
<link rel="stylesheet" type="text/css" href="/themefiles/dist/css/style.min.css" />
</head>
<body>



<div id="main-wrapper">

		<div class="preloader">
	        <div class="lds-ripple">
	            <div class="lds-pos"></div>
	            <div class="lds-pos"></div>
	        </div>
		</div>

        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(/themefiles/assets/images/login-register.jpg) no-repeat center center;">
            <div class="auth-box on-sidebar">
             <div class="page-content container-fluid" layout:fragment="content">
             </div>
                
                
            </div>
        </div>


</div>


<!-- Script -->

<script src="/themefiles/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="/themefiles/assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="/themefiles/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script th:inline="javascript">
/*<![CDATA[*/
	$('[data-toggle="tooltip"]').tooltip();
    $(".preloader").fadeOut();
    // ============================================================== 
    // Login and Recover Password 
    // ============================================================== 
    $('#to-recover').on("click", function() {
        $("#loginform").slideUp();
        $("#recoverform").fadeIn();
    });
	
/*]]>*/
</script>
</body>

</html>